<aside>
  <ul class="nav">
    <li class="nav__item">
      <%= link_to "Check Available Coins", :coins, class: "nav__link" %>
    </li>
    <li class="nav__item nav__item--last">
      <%= link_to "Check Mining Types", :mining_types, class: "nav__link" %>
    </li>
  </ul>
</aside>