<header class="header">
  <div class="header__aside">
    <%= image_tag "https://i.ibb.co/x5C7P30/logo-320.png", class: "header__logo" %>
  </div>
  <div class="header__content">
    <div class="header__title"><h1><%= app_name %></h1></div>
    <div class="header__subtitle"><p>This is an <strong><%= current_enviroment %> Environment</strong></p></div>
  </div>
</header>