<div class="card">
  <div class="card__content">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Acronym</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>

      <tbody>
      <%= render partial: "mining_types/index/mining_type", collection: @mining_types %>
      </tbody>
    </table>
  </div>
</div>