<div class="card card--flex-column">
  <div class="card__header"><h1>New Mining Type</h1></div>
  <div class="card__content"><%= render 'mining_types/shared/form', mining_type: @mining_type %></div>
  <div class="card__action-pane"><%= link_to 'Back', mining_types_path %></div>
</div>
