<div class="card">
  <div class="card__content">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Acronym</th>
        <th>Mining Type</th>
        <th>Image</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>

      <tbody>
      <%= render partial: "coins/index/coin", collection: @coins %>
      </tbody>
    </table>
  </div>
</div>