.nav {
  list-style: none;
  padding: 8px 16px;
  background-color: #8800EE;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  &__item {
    margin: 4px;
    border-bottom: 0.5px solid #FFF;
    height: 24px;

    &--last {
      border-bottom: 0;
    }
  }

  &__link {
    font-weight: 600;
    color: #FFF;
  }
}
