p {
	font-family: "calibri", "arial", sans-serif;
		/* A regra da font-family, é de que  informemos nossas fontes desejadas começando pela mais important, , caso o sistema do usuário não tenha a fonte indicada, o próprio sistema tentará a próxima fonte indicada, por isso é importante que a ultima fonte seja uma fonte generica, para que não haja problemas de incompatibilidade, as fontes genericas são:
		
			Serif
			Sans-Serif
			Cursive
			Fantasy
			monospace
		
		*/
	font-style: italic; /*italic, normal, oblique, inherit (valor herdado)*/	
	font-weight: bold; /* lighter, 100 - 900, força, totalidade da fonte*/	
	font-variant: small-caps; /*Torna todas as letras minusculas em maiusculas, porém, com um tamanho menor*/
	font-size: 10px; /*tamanho da fonte*/

	/* Forma simplificada de entrar com as especificações da fonte
		
		font: style		variant		weight	size	rate       font-family;
				|		    |		   |      |		  |				|
		font: italic   small-caps    bold  	10px / 	 150%	verdana, sans-serif;	
		
		*/
}