div em { /*Seletor Composto Descendente*/
	color:red;
}

div > p > em { /*Seletor Composto Filho*/
	text-decoration:underline;
}

p + p { /*Seletor Irmão Adjacente*/
		color:blue;
}

p + h4 { /*Seletor Irmão Adjacente*/
	text-decoration:underline;
}