body{
	
	width: 800px;
	height: 1024px;
	margin: 10px 224px;
	background-image: url("img/imgcars3.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
}	

div {
	margin:16px;
	width: 112px;
	height: 112px;
	border: 8px groove lightgreen;
	
	background-color: black;
	background-image: url("img/imghmtl2.png");
	background-repeat: no-repeat; /*no-repeat, repeat, repeat-x, repeat-y*/
	background-attachment: scroll; /*scroll,fixed */
	background-position: center; /*left top, top, right top, center left, center center, center-right, left bottom, center bottom, right bottom, ou posição absoluta em px
	
		Forma Simplificada:
		background:  COLOR     	 URL		          REPEAR ATTACHMENT	 POSITION;
					|			   |					 |		 |           |
		background: #FF66F5  url("img/imghmtl2.png") no-repeat scroll 	  top center;
	*/
	}	
