div {
	border:1px solid #000000;
}

#container{ 
	margin:0px auto;
	width:1000px; 
	/* DIMENSÕES DO LAYOUT
	LARGURA FIXA - Quando usamos dimensoes absolutas: 
		Exemplo:
			#container{
				border: 1px solid #000000;
				width: 800px;
			}
	LARGURA LIQUIDA  - Quando usamos dimensoes relativas, no caso da dimensão relativa o ideal é a utilização das propriedades 'min-width', 'max-width':
		Exemplo:
			#container{
				border: 1px solid #000000;
				max-width: 800px;
				min-width: 500px;
			}
		
	LARGURA ELASTICO - Quando baseamos a dimensão do layout com base no tamanho da fonte, usando seletor universal:
		Exemplo:
			*{
				font-size: 14px;
			}
			#container{
				border: 1px solid #000000;
				width: 40em;
			}
	*/


}

#header {
	height: 80px;
	background:#DDDDDD;
}

#left{
	float:left;
	width: 145px;
}

#center{
	float:right;
	width: 850px;
}

#center > #content{
	float:left;
	width: 700px;
}

#center > #right{
	float:right;
	width: 145px;
}

#footer{
	clear:both;
}