* { /*Universal Selector */
	font-family:"Calibri";
	margin:0;	
}

h1 { /*Elemental Selector*/
	color:#0000FF;
}

p { /*Elemental Selector*/
	color:#000055;
}

.destaque { /*Class Selector*/
	color:#990033;
}

.detalhe { /*Class Selector*/
	text-decoration:underline;
}

#introducao { /*ID Selector*/
	background-color:#FFCC99;
}

em[title=exemplo] { /*Attribute Selector using '='*/
	color:#FF0000;
	font-size:16px;	
}

em[title~=novo] { /*Attribute Selector using '~='*/
	color:#0000FF;
	font-size:18px;	
	/*	O seletor de atributo também tem outros parametros para aplicar o css por exemplo, se dentro da chaves ao invés de '=' usassemos '~=' o seletor aplicaria o elemento em todos os atributos especificados como "exemplo" assim como qualquer outro que tenha contenham a mesma palavra, pro exemplo "exemplo 1" ou "primeiro exemplo".
	*/
}

em[title|=exemplo] { /*Attribute Selector using '~='*/
	font-family:"Arial";
	/*	Se usassemos '|=' o seletor aplicaria o elemento em todos os atributos especificados como "exemplo" assim como qualquer outro que tenha contenham a mesma	palavra seguida de hífen, pro exemplo "exemplo-dois" ou "exemplo-novo".
	*/	
}


