div h1:first-child{ /*pseudo classes*/
		color:blue;
}

div a:link{ /*pseudo classes*/
	color:red;
}

div a:visited{ /*pseudo classes*/
	color:green;
}

div a:active{ /*pseudo classes*/
	color:brown;
}

div a:lang(en){ /*pseudo classes*/
	color:gray;
}

div input[type="text"]:focus{ /*pseudo classes*/
	background-color:lightgray;
}

div label:hover{ /*pseudo classes*/
	background-color:lightpink;
}

div p:first-line{ /*pseudo Elemento*/
	color:lightpink;
}

div p:first-letter{ /*pseudo Elemento*/
	font-size: 40px;
	font-style:bold;
	color:black;
}

div p:before{
	content:"INÍCIO ";
}		

div p:after{
	content:" FIM";
}
	