h1, h3, p {
		border: 1px solid black;
}	

span {
	border: 1px solid black;
	position:relative; /*static, absolute, relative*/
	bottom: 3px; /*apenas para se observar o funcionamento da posição relativa*/
	left: 1px;
	
	/* POSITION 
		STATIC = é o posicionamento padrão e não permite que haja mudança de posicionamento "manual"
		
		RELATIVE = permite que elementos inline recebam alterações em sua propriedade de positionamento, relativo a sua posição oringinal.
		
		ABSOLUTE = permite a mudança de posicionamento do elemento inline considerando a posição exata do elemento.	
	*/
}
