.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #8800EE;

  &__content {
    flex-direction: column;
    width: 512px;
    margin-right: 30px;
  }

  &__title, &__subtitle {
    text-align: right;
  }

  &__aside {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-width: 222px;
  }

  img{
    max-width: 222px;
  }
}