.flx {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-ai {
    &-str {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-start;
    }

    &-cnt {
      align-items: center;
    }
  }

  &-jc {
    &-str {
      justify-content: flex-start;
    }

    &-end {
      justify-content: flex-start;
    }

    &-cnt {
      justify-content: center;
    }

    &-btw {
      justify-content: space-between;
    }

    &-evn {
      justify-content: space-evenly;
    }

    &-ard {
      justify-content: space-around;
    }
  }
}

.blk{
  display: block;

  &-il{
    display: inline-block;
  }
}

.tbl{
  display: table;

  &-il{
    display: inline-table;
  }
}