.h { //height
  &-32 {
    height: 32px;
  }

  &-64 {
    height: 64px;
  }

  &-96 {
    height: 96px;
  }

  &-128 {
    height: 128px;
  }

  &-20p {
    height: 20%;
  }

  &-25p {
    height: 25%;
  }

  &-40p {
    height: 40%;
  }

  &-50p {
    height: 25%;
  }

  &-60p {
    height: 60%;
  }

  &-75p {
    height: 75%;
  }

  &-80p {
    height: 80px;
  }

  &-100p {
    height: 100%;
  }

  &-min {
    &-32 {
      min-height: 32px;
    }

    &-64 {
      min-height: 64px;
    }

    &-96 {
      min-height: 96px;
    }

    &-128 {
      min-height: 128px;
    }

    &-20p {
      min-height: 20%;
    }

    &-25p {
      min-height: 25%;
    }

    &-40p {
      min-height: 40%;
    }

    &-50p {
      min-height: 25%;
    }

    &-60p {
      min-height: 60%;
    }

    &-75p {
      min-height: 75%;
    }

    &-80p {
      min-height: 80px;
    }

    &-100p {
      min-height: 100%;
    }
  }

  &-max {
    &-32 {
      max-height: 32px;
    }

    &-64 {
      max-height: 64px;
    }

    &-96 {
      max-height: 96px;
    }

    &-128 {
      max-height: 128px;
    }

    &-20p {
      max-height: 20%;
    }

    &-25p {
      max-height: 25%;
    }

    &-40p {
      max-height: 40%;
    }

    &-50p {
      max-height: 25%;
    }

    &-60p {
      max-height: 60%;
    }

    &-75p {
      max-height: 75%;
    }

    &-80p {
      max-height: 80px;
    }

    &-100p {
      max-height: 100%;
    }
  }
}